.SeriesTitle {
  width:50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c5b794;
  font-weight: bold;
  font-size: 35px;
}

@media (max-width: 1024px) {
  .SeriesTitle {
    width: 100%;
    position: absolute;
  }
}