.Info {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  opacity: 0;
  pointer-events: none;
  padding: 10%;
  padding-top: 5%;
  transition: 1s all cubic-bezier(1, 0.01, 0, 1);
}

.Content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.Visible {
  pointer-events: all;
  opacity: 1;
  padding-top: 10%;
  transition: 1.1s all cubic-bezier(0.34, 0.07, 0, 0.99);
}

.Back {
  position: absolute;
  color: black;
  right: 20px;
  top: 20px;
}

.Back:visited {
  color: black;
}

.Container {
  display: flex;
}

.Bio {
  flex: 647 1 0%;
  max-width: 647px;
  padding-right: 40px;
}
.Bio p {
  line-height: 1.7em;
}
.Contact {
  padding-left: 40px;
  flex: 333 1 0%;
  margin-top: 76px;
}
.Contact h2 {
  letter-spacing: 0.03em;
  font-size: 17px;
}
.Contact ul {
  list-style: none;
  margin-left: 0px;
  font-size: 15px;
}
.Contact ul li {
  margin-bottom: 0px;
}
.Contact a {
  color: black;
}

.Icons {
  margin-top: 8px;
}
.Icons a {
  margin-right: 10px;
}

.Logo {
  width: 20px;
}

@media (max-width: 767px) {
  .Info,
  .Contact {
    height: auto;
    position: relative;
  }

  .Back {
    right: 0px;
    top: 0px;
  }
  .Container {
    flex-direction: column;
  }
  .Contact {
    padding-left: 0px;
    margin-top: 30px;
  }
}
